.yellow {
  background-color: yellow;
  height: 300px;
}

.maroon {
  background-color: #A52A2A;
  height: 300px;
}

.white {
  height: 300px;
}

.blue {
  background-color: blue;
  height: 300px
}

.red {
  background-color: red;
  height: 300px
}