.selected {
  color: blue;
}

.yellow {
  background-color: yellow;
  height: 300px;
}

.orange {
  background-color: orange;
  height: 300px;
}

.blue {
  background-color: blue;
  height: 300px;
}

.purple {
  background-color: purple;
  height: 300px;
}